USE [FUJ_NoPlates]
GO
ALTER TABLE [dbo].[Tbl_TransferCars] DROP CONSTRAINT [FK_Tbl_TransferCars_Tbl_Customers_ToCustomerID]
GO
ALTER TABLE [dbo].[Tbl_TransferCars] DROP CONSTRAINT [FK_Tbl_TransferCars_Tbl_Customers_FromCustomerID]
GO
ALTER TABLE [dbo].[Tbl_TransferCars] DROP CONSTRAINT [FK_Tbl_TransferCars_Tbl_Cars_CarsCarID]
GO
ALTER TABLE [dbo].[Tbl_TransferCars] DROP CONSTRAINT [FK_Tbl_TransferCars_Tbl_Cars_CarID]
GO
ALTER TABLE [dbo].[Tbl_Receipts] DROP CONSTRAINT [FK_Tbl_Receipts_Tbl_Customers_CustomerID]
GO
ALTER TABLE [dbo].[Tbl_Receipts] DROP CONSTRAINT [FK_Tbl_Receipts_Tbl_Cars_CarID]
GO
ALTER TABLE [dbo].[Tbl_ReceiptDetails] DROP CONSTRAINT [FK_Tbl_ReceiptDetails_Tbl_Services_ServiceID]
GO
ALTER TABLE [dbo].[Tbl_ReceiptDetails] DROP CONSTRAINT [FK_Tbl_ReceiptDetails_Tbl_Receipts_ReceiptID]
GO
ALTER TABLE [dbo].[Tbl_Cars] DROP CONSTRAINT [FK_Tbl_Cars_Tbl_Customers_CustomerID]
GO
ALTER TABLE [dbo].[PlateAllocations] DROP CONSTRAINT [FK_PlateAllocations_NumberPlates_NumberPlateId]
GO
ALTER TABLE [dbo].[Tbl_Users] DROP CONSTRAINT [DF__Tbl_Users__Mobil__5EBF139D]
GO
ALTER TABLE [dbo].[Tbl_Users] DROP CONSTRAINT [DF__Tbl_Users__LastN__5DCAEF64]
GO
ALTER TABLE [dbo].[Tbl_Users] DROP CONSTRAINT [DF__Tbl_Users__First__5CD6CB2B]
GO
ALTER TABLE [dbo].[Tbl_Users] DROP CONSTRAINT [DF__Tbl_Users__Email__5BE2A6F2]
GO
ALTER TABLE [dbo].[Tbl_Users] DROP CONSTRAINT [DF__Tbl_Users__Creat__5AEE82B9]
GO
ALTER TABLE [dbo].[Tbl_Customers] DROP CONSTRAINT [DF__Tbl_Custo__Creat__2739D489]
GO
ALTER TABLE [dbo].[Tbl_Customers] DROP CONSTRAINT [DF__Tbl_Custo__Mobil__14270015]
GO
ALTER TABLE [dbo].[Tbl_Customers] DROP CONSTRAINT [DF__Tbl_Custo__Email__72C60C4A]
GO
ALTER TABLE [dbo].[NumberPlates] DROP CONSTRAINT [DF__NumberPla__Edite__6FE99F9F]
GO
ALTER TABLE [dbo].[NumberPlates] DROP CONSTRAINT [DF__NumberPla__Added__70DDC3D8]
GO
/****** Object:  Index [IX_Tbl_TransferCars_ToCustomerID]    Script Date: 10/22/2025 10:17:04 AM ******/
DROP INDEX [IX_Tbl_TransferCars_ToCustomerID] ON [dbo].[Tbl_TransferCars]
GO
/****** Object:  Index [IX_Tbl_TransferCars_FromCustomerID]    Script Date: 10/22/2025 10:17:04 AM ******/
DROP INDEX [IX_Tbl_TransferCars_FromCustomerID] ON [dbo].[Tbl_TransferCars]
GO
/****** Object:  Index [IX_Tbl_TransferCars_CarsCarID]    Script Date: 10/22/2025 10:17:04 AM ******/
DROP INDEX [IX_Tbl_TransferCars_CarsCarID] ON [dbo].[Tbl_TransferCars]
GO
/****** Object:  Index [IX_Tbl_TransferCars_CarID]    Script Date: 10/22/2025 10:17:04 AM ******/
DROP INDEX [IX_Tbl_TransferCars_CarID] ON [dbo].[Tbl_TransferCars]
GO
/****** Object:  Index [IX_Tbl_Receipts_CustomerID]    Script Date: 10/22/2025 10:17:04 AM ******/
DROP INDEX [IX_Tbl_Receipts_CustomerID] ON [dbo].[Tbl_Receipts]
GO
/****** Object:  Index [IX_Tbl_Receipts_CarID]    Script Date: 10/22/2025 10:17:04 AM ******/
DROP INDEX [IX_Tbl_Receipts_CarID] ON [dbo].[Tbl_Receipts]
GO
/****** Object:  Index [IX_Tbl_ReceiptDetails_ServiceID]    Script Date: 10/22/2025 10:17:04 AM ******/
DROP INDEX [IX_Tbl_ReceiptDetails_ServiceID] ON [dbo].[Tbl_ReceiptDetails]
GO
/****** Object:  Index [IX_Tbl_ReceiptDetails_ReceiptID]    Script Date: 10/22/2025 10:17:04 AM ******/
DROP INDEX [IX_Tbl_ReceiptDetails_ReceiptID] ON [dbo].[Tbl_ReceiptDetails]
GO
/****** Object:  Index [IX_Tbl_Cars_CustomerID]    Script Date: 10/22/2025 10:17:04 AM ******/
DROP INDEX [IX_Tbl_Cars_CustomerID] ON [dbo].[Tbl_Cars]
GO
/****** Object:  Index [IX_PlateAllocations_NumberPlateId]    Script Date: 10/22/2025 10:17:04 AM ******/
DROP INDEX [IX_PlateAllocations_NumberPlateId] ON [dbo].[PlateAllocations]
GO
/****** Object:  Table [dbo].[Tbl_Users]    Script Date: 10/22/2025 10:17:04 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_Users]') AND type in (N'U'))
DROP TABLE [dbo].[Tbl_Users]
GO
/****** Object:  Table [dbo].[Tbl_TransferCars]    Script Date: 10/22/2025 10:17:04 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_TransferCars]') AND type in (N'U'))
DROP TABLE [dbo].[Tbl_TransferCars]
GO
/****** Object:  Table [dbo].[Tbl_Services]    Script Date: 10/22/2025 10:17:04 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_Services]') AND type in (N'U'))
DROP TABLE [dbo].[Tbl_Services]
GO
/****** Object:  Table [dbo].[Tbl_Receipts]    Script Date: 10/22/2025 10:17:04 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_Receipts]') AND type in (N'U'))
DROP TABLE [dbo].[Tbl_Receipts]
GO
/****** Object:  Table [dbo].[Tbl_ReceiptDetails]    Script Date: 10/22/2025 10:17:04 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_ReceiptDetails]') AND type in (N'U'))
DROP TABLE [dbo].[Tbl_ReceiptDetails]
GO
/****** Object:  Table [dbo].[Tbl_PasswordHistory]    Script Date: 10/22/2025 10:17:04 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_PasswordHistory]') AND type in (N'U'))
DROP TABLE [dbo].[Tbl_PasswordHistory]
GO
/****** Object:  Table [dbo].[Tbl_Customers]    Script Date: 10/22/2025 10:17:04 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_Customers]') AND type in (N'U'))
DROP TABLE [dbo].[Tbl_Customers]
GO
/****** Object:  Table [dbo].[Tbl_Cars]    Script Date: 10/22/2025 10:17:04 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tbl_Cars]') AND type in (N'U'))
DROP TABLE [dbo].[Tbl_Cars]
GO
/****** Object:  Table [dbo].[PlateAllocations]    Script Date: 10/22/2025 10:17:04 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PlateAllocations]') AND type in (N'U'))
DROP TABLE [dbo].[PlateAllocations]
GO
/****** Object:  Table [dbo].[NumberPlates]    Script Date: 10/22/2025 10:17:04 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NumberPlates]') AND type in (N'U'))
DROP TABLE [dbo].[NumberPlates]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/22/2025 10:17:04 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
/****** Object:  User [IIS APPPOOL\MyApp]    Script Date: 10/22/2025 10:17:04 AM ******/
DROP USER [IIS APPPOOL\MyApp]
GO
USE [master]
GO
/****** Object:  Database [FUJ_NoPlates]    Script Date: 10/22/2025 10:17:04 AM ******/
DROP DATABASE [FUJ_NoPlates]
GO
/****** Object:  Database [FUJ_NoPlates]    Script Date: 10/22/2025 10:17:04 AM ******/
CREATE DATABASE [FUJ_NoPlates]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FUJ_NoPlates', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FUJ_NoPlates.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FUJ_NoPlates_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FUJ_NoPlates_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FUJ_NoPlates].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FUJ_NoPlates]
GO
/****** Object:  User [IIS APPPOOL\MyApp]    Script Date: 10/22/2025 10:17:04 AM ******/
CREATE USER [IIS APPPOOL\MyApp] FOR LOGIN [IIS APPPOOL\MyApp] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\MyApp]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\MyApp]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/22/2025 10:17:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NumberPlates]    Script Date: 10/22/2025 10:17:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumberPlates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlateNumber] [nvarchar](max) NOT NULL,
	[AddedBy] [nvarchar](max) NOT NULL,
	[AddedOn] [datetime2](7) NULL,
	[EditedBy] [nvarchar](max) NOT NULL,
	[EditedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_NumberPlates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlateAllocations]    Script Date: 10/22/2025 10:17:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlateAllocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumberPlateId] [int] NOT NULL,
	[OwnerName] [nvarchar](max) NOT NULL,
	[AllocatedBy] [nvarchar](max) NOT NULL,
	[AllocatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PlateAllocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Cars]    Script Date: 10/22/2025 10:17:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Cars](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[NumberPlate] [nvarchar](max) NOT NULL,
	[CarStatus] [int] NOT NULL,
	[CustomerID] [int] NULL,
 CONSTRAINT [PK_Tbl_Cars] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Customers]    Script Date: 10/22/2025 10:17:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerStatus] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[EmiratesID] [nvarchar](max) NOT NULL,
	[MobileNumber] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Tbl_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_PasswordHistory]    Script Date: 10/22/2025 10:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_PasswordHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Tbl_PasswordHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_ReceiptDetails]    Script Date: 10/22/2025 10:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_ReceiptDetails](
	[ReceiptsDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
 CONSTRAINT [PK_Tbl_ReceiptDetails] PRIMARY KEY CLUSTERED 
(
	[ReceiptsDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Receipts]    Script Date: 10/22/2025 10:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Receipts](
	[ReceiptID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[CarID] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Tbl_Receipts] PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Services]    Script Date: 10/22/2025 10:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [int] NOT NULL,
	[ServiceStatus] [int] NOT NULL,
 CONSTRAINT [PK_Tbl_Services] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_TransferCars]    Script Date: 10/22/2025 10:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_TransferCars](
	[TransferID] [int] IDENTITY(1,1) NOT NULL,
	[TransferDate] [datetime2](7) NOT NULL,
	[FromCustomerID] [int] NOT NULL,
	[ToCustomerID] [int] NOT NULL,
	[CarID] [int] NOT NULL,
	[CarsCarID] [int] NULL,
 CONSTRAINT [PK_Tbl_TransferCars] PRIMARY KEY CLUSTERED 
(
	[TransferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Users]    Script Date: 10/22/2025 10:17:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[UserStatus] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastLogin] [datetime2](7) NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[MobileNumber] [nvarchar](max) NOT NULL,
	[PasswordLastChanged] [datetime2](7) NULL,
 CONSTRAINT [PK_Tbl_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250801100252_FirstCommit', N'9.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250801103928_defaultcolumns', N'9.0.7')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250801114938_addedColumn', N'9.0.7')
GO
SET IDENTITY_INSERT [dbo].[Tbl_Cars] ON 

INSERT [dbo].[Tbl_Cars] ([CarID], [NumberPlate], [CarStatus], [CustomerID]) VALUES (1, N'N875442', 1, NULL)
INSERT [dbo].[Tbl_Cars] ([CarID], [NumberPlate], [CarStatus], [CustomerID]) VALUES (1002, N'K12345', 1, NULL)
INSERT [dbo].[Tbl_Cars] ([CarID], [NumberPlate], [CarStatus], [CustomerID]) VALUES (2002, N'SAM007', 1, NULL)
SET IDENTITY_INSERT [dbo].[Tbl_Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Customers] ON 

INSERT [dbo].[Tbl_Customers] ([CustomerID], [CustomerStatus], [Name], [Email], [EmiratesID], [MobileNumber], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'Ahmed', N'', N'', N'', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Tbl_Customers] ([CustomerID], [CustomerStatus], [Name], [Email], [EmiratesID], [MobileNumber], [CreatedAt], [UpdatedAt]) VALUES (2, 1, N'hammad', N'', N'', N'', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL)
INSERT [dbo].[Tbl_Customers] ([CustomerID], [CustomerStatus], [Name], [Email], [EmiratesID], [MobileNumber], [CreatedAt], [UpdatedAt]) VALUES (1002, 1, N'hammad', N'', N'', N'', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Tbl_Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_PasswordHistory] ON 

INSERT [dbo].[Tbl_PasswordHistory] ([Id], [UserID], [Password], [CreatedAt]) VALUES (1, 4, N'Ww}74Jyf2A)q?XI]', CAST(N'2025-09-10T17:49:05.7553761' AS DateTime2))
INSERT [dbo].[Tbl_PasswordHistory] ([Id], [UserID], [Password], [CreatedAt]) VALUES (2, 4, N'5OGq5}HV{bMn+]x7', CAST(N'2025-09-10T17:49:33.7315091' AS DateTime2))
INSERT [dbo].[Tbl_PasswordHistory] ([Id], [UserID], [Password], [CreatedAt]) VALUES (3, 3, N't:o$TTC-Jd2+h.3,', CAST(N'2025-09-10T17:51:14.8812373' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Tbl_PasswordHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_ReceiptDetails] ON 

INSERT [dbo].[Tbl_ReceiptDetails] ([ReceiptsDetailsID], [ReceiptID], [ServiceID]) VALUES (1, 1, 1)
INSERT [dbo].[Tbl_ReceiptDetails] ([ReceiptsDetailsID], [ReceiptID], [ServiceID]) VALUES (2, 1, 2)
INSERT [dbo].[Tbl_ReceiptDetails] ([ReceiptsDetailsID], [ReceiptID], [ServiceID]) VALUES (3, 2, 1)
SET IDENTITY_INSERT [dbo].[Tbl_ReceiptDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Receipts] ON 

INSERT [dbo].[Tbl_Receipts] ([ReceiptID], [CustomerID], [CarID], [Date], [TotalAmount]) VALUES (1, 1, 1, CAST(N'2025-08-03T11:28:59.2350000' AS DateTime2), CAST(150.00 AS Decimal(18, 2)))
INSERT [dbo].[Tbl_Receipts] ([ReceiptID], [CustomerID], [CarID], [Date], [TotalAmount]) VALUES (2, 1, 1, CAST(N'2025-08-03T12:23:35.6950000' AS DateTime2), CAST(150.00 AS Decimal(18, 2)))
INSERT [dbo].[Tbl_Receipts] ([ReceiptID], [CustomerID], [CarID], [Date], [TotalAmount]) VALUES (1002, 2, 1002, CAST(N'2025-08-04T11:05:37.1690000' AS DateTime2), CAST(150.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Tbl_Receipts] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Services] ON 

INSERT [dbo].[Tbl_Services] ([ServiceID], [ServiceName], [Description], [Price], [ServiceStatus]) VALUES (1, N'Re-new Card', N'asdasd', 100, 1)
INSERT [dbo].[Tbl_Services] ([ServiceID], [ServiceName], [Description], [Price], [ServiceStatus]) VALUES (2, N'Print Card', N'asdada', 50, 1)
INSERT [dbo].[Tbl_Services] ([ServiceID], [ServiceName], [Description], [Price], [ServiceStatus]) VALUES (1003, N'Transfer Number Plate', N'person has to transfer the number plate to masood', 1000, 1)
SET IDENTITY_INSERT [dbo].[Tbl_Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_TransferCars] ON 

INSERT [dbo].[Tbl_TransferCars] ([TransferID], [TransferDate], [FromCustomerID], [ToCustomerID], [CarID], [CarsCarID]) VALUES (1, CAST(N'2025-08-04T11:17:28.4180000' AS DateTime2), 1, 2, 1, NULL)
INSERT [dbo].[Tbl_TransferCars] ([TransferID], [TransferDate], [FromCustomerID], [ToCustomerID], [CarID], [CarsCarID]) VALUES (2, CAST(N'2025-09-23T11:48:24.6750000' AS DateTime2), 2, 1003, 1, NULL)
INSERT [dbo].[Tbl_TransferCars] ([TransferID], [TransferDate], [FromCustomerID], [ToCustomerID], [CarID], [CarsCarID]) VALUES (3, CAST(N'2025-09-23T19:12:05.6930000' AS DateTime2), 1006, 1004, 2006, NULL)
SET IDENTITY_INSERT [dbo].[Tbl_TransferCars] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Users] ON 

INSERT [dbo].[Tbl_Users] ([UserID], [Role], [Password], [UserStatus], [CreatedAt], [Email], [FirstName], [LastLogin], [LastName], [MobileNumber], [PasswordLastChanged]) VALUES (2, N'Admin', N'Volvo!@12', 0, CAST(N'2025-09-09T12:27:43.2466667' AS DateTime2), N'admin@test.com', N'Admin', CAST(N'2025-10-20T04:42:44.2373231' AS DateTime2), N'User', N'0300123456', CAST(N'2025-09-27T13:28:15.4185357' AS DateTime2))
INSERT [dbo].[Tbl_Users] ([UserID], [Role], [Password], [UserStatus], [CreatedAt], [Email], [FirstName], [LastLogin], [LastName], [MobileNumber], [PasswordLastChanged]) VALUES (3, N'User', N'Q,gRF+Z9sPL9Ey8q', 1, CAST(N'2025-09-09T13:34:41.4663569' AS DateTime2), N'abinemasood814@gmail.com', N'Syed Abdullah ', CAST(N'2025-10-20T18:58:36.4976750' AS DateTime2), N'Bin Masood', N'03040483842', CAST(N'2025-10-20T18:58:29.1886133' AS DateTime2))
INSERT [dbo].[Tbl_Users] ([UserID], [Role], [Password], [UserStatus], [CreatedAt], [Email], [FirstName], [LastLogin], [LastName], [MobileNumber], [PasswordLastChanged]) VALUES (4, N'User', N'Secure@2025', 0, CAST(N'2025-09-09T14:30:37.9560013' AS DateTime2), N'batman@arkham.com', N'Bruce', CAST(N'2025-10-02T01:40:25.0572258' AS DateTime2), N'Wyne', N'0877635422', CAST(N'2025-09-27T12:58:28.0109372' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Tbl_Users] OFF
GO
/****** Object:  Index [IX_PlateAllocations_NumberPlateId]    Script Date: 10/22/2025 10:17:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_PlateAllocations_NumberPlateId] ON [dbo].[PlateAllocations]
(
	[NumberPlateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_Cars_CustomerID]    Script Date: 10/22/2025 10:17:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_Cars_CustomerID] ON [dbo].[Tbl_Cars]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_ReceiptDetails_ReceiptID]    Script Date: 10/22/2025 10:17:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_ReceiptDetails_ReceiptID] ON [dbo].[Tbl_ReceiptDetails]
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_ReceiptDetails_ServiceID]    Script Date: 10/22/2025 10:17:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_ReceiptDetails_ServiceID] ON [dbo].[Tbl_ReceiptDetails]
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_Receipts_CarID]    Script Date: 10/22/2025 10:17:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_Receipts_CarID] ON [dbo].[Tbl_Receipts]
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_Receipts_CustomerID]    Script Date: 10/22/2025 10:17:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_Receipts_CustomerID] ON [dbo].[Tbl_Receipts]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_TransferCars_CarID]    Script Date: 10/22/2025 10:17:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_TransferCars_CarID] ON [dbo].[Tbl_TransferCars]
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_TransferCars_CarsCarID]    Script Date: 10/22/2025 10:17:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_TransferCars_CarsCarID] ON [dbo].[Tbl_TransferCars]
(
	[CarsCarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_TransferCars_FromCustomerID]    Script Date: 10/22/2025 10:17:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_TransferCars_FromCustomerID] ON [dbo].[Tbl_TransferCars]
(
	[FromCustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_TransferCars_ToCustomerID]    Script Date: 10/22/2025 10:17:05 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_TransferCars_ToCustomerID] ON [dbo].[Tbl_TransferCars]
(
	[ToCustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NumberPlates] ADD  DEFAULT (N'System') FOR [AddedBy]
GO
ALTER TABLE [dbo].[NumberPlates] ADD  DEFAULT (N'') FOR [EditedBy]
GO
ALTER TABLE [dbo].[Tbl_Customers] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[Tbl_Customers] ADD  DEFAULT (N'') FOR [MobileNumber]
GO
ALTER TABLE [dbo].[Tbl_Customers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tbl_Users] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tbl_Users] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[Tbl_Users] ADD  DEFAULT (N'') FOR [FirstName]
GO
ALTER TABLE [dbo].[Tbl_Users] ADD  DEFAULT (N'') FOR [LastName]
GO
ALTER TABLE [dbo].[Tbl_Users] ADD  DEFAULT (N'') FOR [MobileNumber]
GO
ALTER TABLE [dbo].[PlateAllocations]  WITH CHECK ADD  CONSTRAINT [FK_PlateAllocations_NumberPlates_NumberPlateId] FOREIGN KEY([NumberPlateId])
REFERENCES [dbo].[NumberPlates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlateAllocations] CHECK CONSTRAINT [FK_PlateAllocations_NumberPlates_NumberPlateId]
GO
ALTER TABLE [dbo].[Tbl_Cars]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Cars_Tbl_Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Tbl_Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Tbl_Cars] CHECK CONSTRAINT [FK_Tbl_Cars_Tbl_Customers_CustomerID]
GO
ALTER TABLE [dbo].[Tbl_ReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_ReceiptDetails_Tbl_Receipts_ReceiptID] FOREIGN KEY([ReceiptID])
REFERENCES [dbo].[Tbl_Receipts] ([ReceiptID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_ReceiptDetails] CHECK CONSTRAINT [FK_Tbl_ReceiptDetails_Tbl_Receipts_ReceiptID]
GO
ALTER TABLE [dbo].[Tbl_ReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_ReceiptDetails_Tbl_Services_ServiceID] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Tbl_Services] ([ServiceID])
GO
ALTER TABLE [dbo].[Tbl_ReceiptDetails] CHECK CONSTRAINT [FK_Tbl_ReceiptDetails_Tbl_Services_ServiceID]
GO
ALTER TABLE [dbo].[Tbl_Receipts]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Receipts_Tbl_Cars_CarID] FOREIGN KEY([CarID])
REFERENCES [dbo].[Tbl_Cars] ([CarID])
GO
ALTER TABLE [dbo].[Tbl_Receipts] CHECK CONSTRAINT [FK_Tbl_Receipts_Tbl_Cars_CarID]
GO
ALTER TABLE [dbo].[Tbl_Receipts]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Receipts_Tbl_Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Tbl_Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Tbl_Receipts] CHECK CONSTRAINT [FK_Tbl_Receipts_Tbl_Customers_CustomerID]
GO
ALTER TABLE [dbo].[Tbl_TransferCars]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_TransferCars_Tbl_Cars_CarID] FOREIGN KEY([CarID])
REFERENCES [dbo].[Tbl_Cars] ([CarID])
GO
ALTER TABLE [dbo].[Tbl_TransferCars] CHECK CONSTRAINT [FK_Tbl_TransferCars_Tbl_Cars_CarID]
GO
ALTER TABLE [dbo].[Tbl_TransferCars]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_TransferCars_Tbl_Cars_CarsCarID] FOREIGN KEY([CarsCarID])
REFERENCES [dbo].[Tbl_Cars] ([CarID])
GO
ALTER TABLE [dbo].[Tbl_TransferCars] CHECK CONSTRAINT [FK_Tbl_TransferCars_Tbl_Cars_CarsCarID]
GO
ALTER TABLE [dbo].[Tbl_TransferCars]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_TransferCars_Tbl_Customers_FromCustomerID] FOREIGN KEY([FromCustomerID])
REFERENCES [dbo].[Tbl_Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Tbl_TransferCars] CHECK CONSTRAINT [FK_Tbl_TransferCars_Tbl_Customers_FromCustomerID]
GO
ALTER TABLE [dbo].[Tbl_TransferCars]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_TransferCars_Tbl_Customers_ToCustomerID] FOREIGN KEY([ToCustomerID])
REFERENCES [dbo].[Tbl_Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Tbl_TransferCars] CHECK CONSTRAINT [FK_Tbl_TransferCars_Tbl_Customers_ToCustomerID]
GO
USE [master]
GO
