USE [master]
GO
/****** Object:  Database [FUJ_NoPlates]    Script Date: 10/22/2025 10:33:28 AM ******/
CREATE DATABASE [FUJ_NoPlates]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FUJ_NoPlates', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FUJ_NoPlates.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FUJ_NoPlates_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FUJ_NoPlates_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FUJ_NoPlates].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FUJ_NoPlates]
GO
/****** Object:  User [IIS APPPOOL\MyApp]    Script Date: 10/22/2025 10:33:29 AM ******/
CREATE USER [IIS APPPOOL\MyApp] FOR LOGIN [IIS APPPOOL\MyApp] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\MyApp]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\MyApp]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/22/2025 10:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NumberPlates]    Script Date: 10/22/2025 10:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NumberPlates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlateNumber] [nvarchar](max) NOT NULL,
	[AddedBy] [nvarchar](max) NOT NULL,
	[AddedOn] [datetime2](7) NULL,
	[EditedBy] [nvarchar](max) NOT NULL,
	[EditedOn] [datetime2](7) NULL,
 CONSTRAINT [PK_NumberPlates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlateAllocations]    Script Date: 10/22/2025 10:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlateAllocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumberPlateId] [int] NOT NULL,
	[OwnerName] [nvarchar](max) NOT NULL,
	[AllocatedBy] [nvarchar](max) NOT NULL,
	[AllocatedOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PlateAllocations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Cars]    Script Date: 10/22/2025 10:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Cars](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[NumberPlate] [nvarchar](max) NOT NULL,
	[CarStatus] [int] NOT NULL,
	[CustomerID] [int] NULL,
 CONSTRAINT [PK_Tbl_Cars] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Customers]    Script Date: 10/22/2025 10:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerStatus] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[EmiratesID] [nvarchar](max) NOT NULL,
	[MobileNumber] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Tbl_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_PasswordHistory]    Script Date: 10/22/2025 10:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_PasswordHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Tbl_PasswordHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_ReceiptDetails]    Script Date: 10/22/2025 10:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_ReceiptDetails](
	[ReceiptsDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
 CONSTRAINT [PK_Tbl_ReceiptDetails] PRIMARY KEY CLUSTERED 
(
	[ReceiptsDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Receipts]    Script Date: 10/22/2025 10:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Receipts](
	[ReceiptID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[CarID] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Tbl_Receipts] PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Services]    Script Date: 10/22/2025 10:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [int] NOT NULL,
	[ServiceStatus] [int] NOT NULL,
 CONSTRAINT [PK_Tbl_Services] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_TransferCars]    Script Date: 10/22/2025 10:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_TransferCars](
	[TransferID] [int] IDENTITY(1,1) NOT NULL,
	[TransferDate] [datetime2](7) NOT NULL,
	[FromCustomerID] [int] NOT NULL,
	[ToCustomerID] [int] NOT NULL,
	[CarID] [int] NOT NULL,
	[CarsCarID] [int] NULL,
 CONSTRAINT [PK_Tbl_TransferCars] PRIMARY KEY CLUSTERED 
(
	[TransferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Users]    Script Date: 10/22/2025 10:33:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[UserStatus] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastLogin] [datetime2](7) NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[MobileNumber] [nvarchar](max) NOT NULL,
	[PasswordLastChanged] [datetime2](7) NULL,
 CONSTRAINT [PK_Tbl_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_PlateAllocations_NumberPlateId]    Script Date: 10/22/2025 10:33:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_PlateAllocations_NumberPlateId] ON [dbo].[PlateAllocations]
(
	[NumberPlateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_Cars_CustomerID]    Script Date: 10/22/2025 10:33:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_Cars_CustomerID] ON [dbo].[Tbl_Cars]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_ReceiptDetails_ReceiptID]    Script Date: 10/22/2025 10:33:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_ReceiptDetails_ReceiptID] ON [dbo].[Tbl_ReceiptDetails]
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_ReceiptDetails_ServiceID]    Script Date: 10/22/2025 10:33:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_ReceiptDetails_ServiceID] ON [dbo].[Tbl_ReceiptDetails]
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_Receipts_CarID]    Script Date: 10/22/2025 10:33:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_Receipts_CarID] ON [dbo].[Tbl_Receipts]
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_Receipts_CustomerID]    Script Date: 10/22/2025 10:33:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_Receipts_CustomerID] ON [dbo].[Tbl_Receipts]
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_TransferCars_CarID]    Script Date: 10/22/2025 10:33:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_TransferCars_CarID] ON [dbo].[Tbl_TransferCars]
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_TransferCars_CarsCarID]    Script Date: 10/22/2025 10:33:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_TransferCars_CarsCarID] ON [dbo].[Tbl_TransferCars]
(
	[CarsCarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_TransferCars_FromCustomerID]    Script Date: 10/22/2025 10:33:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_TransferCars_FromCustomerID] ON [dbo].[Tbl_TransferCars]
(
	[FromCustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tbl_TransferCars_ToCustomerID]    Script Date: 10/22/2025 10:33:29 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tbl_TransferCars_ToCustomerID] ON [dbo].[Tbl_TransferCars]
(
	[ToCustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NumberPlates] ADD  DEFAULT (N'System') FOR [AddedBy]
GO
ALTER TABLE [dbo].[NumberPlates] ADD  DEFAULT (N'') FOR [EditedBy]
GO
ALTER TABLE [dbo].[Tbl_Customers] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[Tbl_Customers] ADD  DEFAULT (N'') FOR [MobileNumber]
GO
ALTER TABLE [dbo].[Tbl_Customers] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tbl_Users] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Tbl_Users] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[Tbl_Users] ADD  DEFAULT (N'') FOR [FirstName]
GO
ALTER TABLE [dbo].[Tbl_Users] ADD  DEFAULT (N'') FOR [LastName]
GO
ALTER TABLE [dbo].[Tbl_Users] ADD  DEFAULT (N'') FOR [MobileNumber]
GO
ALTER TABLE [dbo].[PlateAllocations]  WITH CHECK ADD  CONSTRAINT [FK_PlateAllocations_NumberPlates_NumberPlateId] FOREIGN KEY([NumberPlateId])
REFERENCES [dbo].[NumberPlates] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlateAllocations] CHECK CONSTRAINT [FK_PlateAllocations_NumberPlates_NumberPlateId]
GO
ALTER TABLE [dbo].[Tbl_Cars]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Cars_Tbl_Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Tbl_Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Tbl_Cars] CHECK CONSTRAINT [FK_Tbl_Cars_Tbl_Customers_CustomerID]
GO
ALTER TABLE [dbo].[Tbl_ReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_ReceiptDetails_Tbl_Receipts_ReceiptID] FOREIGN KEY([ReceiptID])
REFERENCES [dbo].[Tbl_Receipts] ([ReceiptID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_ReceiptDetails] CHECK CONSTRAINT [FK_Tbl_ReceiptDetails_Tbl_Receipts_ReceiptID]
GO
ALTER TABLE [dbo].[Tbl_ReceiptDetails]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_ReceiptDetails_Tbl_Services_ServiceID] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Tbl_Services] ([ServiceID])
GO
ALTER TABLE [dbo].[Tbl_ReceiptDetails] CHECK CONSTRAINT [FK_Tbl_ReceiptDetails_Tbl_Services_ServiceID]
GO
ALTER TABLE [dbo].[Tbl_Receipts]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Receipts_Tbl_Cars_CarID] FOREIGN KEY([CarID])
REFERENCES [dbo].[Tbl_Cars] ([CarID])
GO
ALTER TABLE [dbo].[Tbl_Receipts] CHECK CONSTRAINT [FK_Tbl_Receipts_Tbl_Cars_CarID]
GO
ALTER TABLE [dbo].[Tbl_Receipts]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_Receipts_Tbl_Customers_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Tbl_Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Tbl_Receipts] CHECK CONSTRAINT [FK_Tbl_Receipts_Tbl_Customers_CustomerID]
GO
ALTER TABLE [dbo].[Tbl_TransferCars]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_TransferCars_Tbl_Cars_CarID] FOREIGN KEY([CarID])
REFERENCES [dbo].[Tbl_Cars] ([CarID])
GO
ALTER TABLE [dbo].[Tbl_TransferCars] CHECK CONSTRAINT [FK_Tbl_TransferCars_Tbl_Cars_CarID]
GO
ALTER TABLE [dbo].[Tbl_TransferCars]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_TransferCars_Tbl_Cars_CarsCarID] FOREIGN KEY([CarsCarID])
REFERENCES [dbo].[Tbl_Cars] ([CarID])
GO
ALTER TABLE [dbo].[Tbl_TransferCars] CHECK CONSTRAINT [FK_Tbl_TransferCars_Tbl_Cars_CarsCarID]
GO
ALTER TABLE [dbo].[Tbl_TransferCars]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_TransferCars_Tbl_Customers_FromCustomerID] FOREIGN KEY([FromCustomerID])
REFERENCES [dbo].[Tbl_Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Tbl_TransferCars] CHECK CONSTRAINT [FK_Tbl_TransferCars_Tbl_Customers_FromCustomerID]
GO
ALTER TABLE [dbo].[Tbl_TransferCars]  WITH CHECK ADD  CONSTRAINT [FK_Tbl_TransferCars_Tbl_Customers_ToCustomerID] FOREIGN KEY([ToCustomerID])
REFERENCES [dbo].[Tbl_Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Tbl_TransferCars] CHECK CONSTRAINT [FK_Tbl_TransferCars_Tbl_Customers_ToCustomerID]
GO
USE [master]
GO
