@model CarMaintenance.Models.ChangePasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Debug: This is Views/Account/ChangePassword.cshtml -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Change Password</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="breadcrumb-item active">Change Password</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                @TempData["Message"]
            </div>
        }
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                @ViewBag.Message
            </div>
        }
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary()
            </div>
        }
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Change Your Password</h3>
            </div>
            <div class="card-body">
                <form method="post" asp-action="ChangePassword" asp-controller="Account">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="OldPassword">Current Password</label>
                        <input asp-for="OldPassword" class="form-control" placeholder="Enter current password" type="password" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword">New Password</label>
                        <input asp-for="NewPassword" class="form-control" placeholder="Enter new password" type="password" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Confirm New Password</label>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm new password" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Cancel</a>
                    </div>
                    @Html.AntiForgeryToken()
                </form>
            </div>
        </div>
    </div>
</section>
<script src="~/AdminTheme/plugins/jquery/jquery.min.js"></script>
<script src="~/AdminTheme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/AdminTheme/dist/js/adminlte.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>